.listItemRow {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.brandName, .brandNameDelete {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  width: 80%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  padding: 0 2rem;
  transition: 
    rotate 1s;
    box-shadow: 2s;
}

.brandNameDelete {
  rotate: 180deg;
}

.brandName:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.08);
}

.deleteButton {
  background: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
  margin-left: 3rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  height: 2.1rem;
  width: 6.25rem;
}

.deleteButton:hover {
  background: #d9363e;
}

.spinner {
  display: block !important;
  svg {
    height: 15px;
    width: 28px;
  }
}
